@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
  text-align: center;
}

.img-logo {
  width: 17.5%;
  margin-bottom: 32px;
}

.img-main {
  width: 100%;
  margin-bottom: 120px;
}

/* ==========
 TYPOGRAPHY
 ========== */
h1 {
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
  color: #969696;
  margin-bottom: 15px;
}

h1 span {
  font-weight: 700;
  color: #15202a;
}

p {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #15202a;
  margin-bottom: 32px;
}

/* ==========
 LAYOUT
 ========== */

.container {
  width: 85.3333333333%;
  padding: 81px 0 37px 0;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 88.125%;
  margin: 0 auto 72px auto;
}

input {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #15202a;
  background: #fff;
  border: 1px solid #c2d3ff;
  padding: 10px 32px;
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.0001);
  border-radius: 28px;
  width: 100%;
  margin-bottom: 10px;
}

input:focus {
  outline: unset;
}

input::placeholder {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #b8c7ed;
}

label {
  display: none;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.125px;
  color: #ff5466;
}

button {
  display: inline-block;
  width: 100%;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  background: #4c7bf3;
  padding: 12px 0;
  box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.230414);
  border: 1px solid #7096f5;
  border-radius: 28px;
  cursor: pointer;
}

button:hover,
button:focus {
  outline: unset;
  background: #7096f5;
  border-radius: 28px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 120px;
  margin: 0 auto 27px auto;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 0.918357px solid rgba(76, 123, 243, 0.15);
  border-radius: 50%;
}

a {
  color: #4c7bf3;
  text-decoration: none;
  border-radius: 50%;
}

a:hover,
a:focus {
  color: #fff;
  background: #4c7bf3;
  outline: unset;
}

/* ============================= 

   ============================= */

/* ==========
 MEDIA QUERIES
 ========== */
@media (min-width: 600px) {
  form {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .img-logo {
    width: 14.0625%;
    margin-bottom: 40px;
  }

  .img-main {
    width: 100%;
    margin-bottom: 72px;
  }

  /* ==========
    TYPOGRAPHY
    ========== */
  h1 {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 16px;
  }

  p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  /* ==========
     LAYOUT
     ========== */
  .container {
    width: 44.4444444444%;
    padding: 80px 0 49px 0;
  }

  form {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 99.53125%;
    margin: 0 auto 94px auto;
    position: relative;
  }

  input {
    font-size: 16px;
    line-height: 20px;
    padding: 18px 30px;
    width: 66.09105%;
    margin-bottom: 0;
  }

  input::placeholder {
    font-size: 16px;
    line-height: 20px;
  }

  label {
    display: none;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.15px;
    position: absolute;
    top: 62px;
    left: 30px;
    white-space: nowrap;
  }

  button {
    display: inline-block;
    width: 31.39717%;
    font-size: 16px;
    line-height: 19px;
    padding: 18px 0;
    height: 58px;
  }

  .social-links {
    margin: 0 auto 25px auto;
  }
}
